

.logo {
    width: 2rem;
}


/* NavBar */

.navbar {
 z-index: 1;
}

.navbar-sticky {
    position: sticky !important;
    top: 0 !important;
    z-index: 1000 !important; /* Asegúrate de que el navbar esté por encima de otros elementos */
}